.scroll-message-list::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

.scroll-message-list::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.scroll-message-list::-webkit-scrollbar-thumb {
  background-color: #202c33;    /* color of the scroll thumb */
}
